* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(
    90deg,
    rgba(153, 148, 230, 1) 0%,
    rgba(92, 94, 198, 1) 44%,
    rgba(0, 212, 255, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
